In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("C:/Users/mdcra/Desktop/tableau-challenge/csv_data/2020-06.csv")

In [17]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3810,6/1/2020 0:00,6/1/2020 1:03,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
1,355,6/1/2020 0:00,6/1/2020 0:06,248,Laight St & Hudson St,40.721854,-74.007718,247,Perry St & Bleecker St,40.735354,-74.004831,39594,Subscriber,1990,1
2,99,6/1/2020 0:00,6/1/2020 0:02,3232,Bond St & Fulton St,40.689622,-73.983043,390,Duffield St & Willoughby St,40.692216,-73.984284,43315,Subscriber,1938,2
3,87,6/1/2020 0:00,6/1/2020 0:02,390,Duffield St & Willoughby St,40.692216,-73.984284,3232,Bond St & Fulton St,40.689622,-73.983043,28205,Subscriber,1971,2
4,2714,6/1/2020 0:00,6/1/2020 0:46,319,Fulton St & Broadway,40.711066,-74.009447,455,1 Ave & E 44 St,40.750020,-73.969053,41760,Subscriber,1989,1

In [18]:
df2 = df[df["usertype"] == 'Subscriber']

In [19]:
df3 = df2[df2["birth year"] > 1950]

In [20]:
df4 = df3[df3["gender"] > 0]

In [21]:
df4.to_csv("C:/Users/mdcra/Desktop/tableau-challenge/csv_data/2020_06_Subscribers.csv")